<h3 class="text-center tittle">
  2ºPrueba
</h3>
<h3 class="text-center tittle">
    Sabemos que usais este ambientador, tampoco somos tan malos!!! la clave para superar la prueba 
    esta en los conservantes del ambientador!!!
    <small style="display: block;">Pista:son dos palabras ... y ...</small>
</h3>
<form class="form container" (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field class="form-width text-center" appearance="standard">
    <input matInput formControlName="inputQuitaholores" class="input" type="text">
    <mat-label class="label text-center">Escribe aqui </mat-label>
  </mat-form-field>
  <button class="btn" mat-button color="primary" type="submit">Comprobar</button>
  <img class="elixir" src="assets/elixir.jpg" alt=""/>

</form>
