<!-- <img class="friends" src="../../assets/friends.jpg" alt=""/> -->
<p class="friends"></p>
<div class="form-2 text-center tittle texto-final">


    <h1 class="text-center  texto-final">Enhorabuena</h1>
    <p class="container text-center tittle">
    Bueno que sepais que eso os pasa por casaros, a quien se le ocurre.
    Esperamos que no tengais lo labios como morcillas por comer tantas pipas, pero
    si es asi por favor mandar una foto para reirnos un rato jajaja aun asi creemos que 
        hemos sido buenos...con todo esto deciros que disfruteis del vuestro regalo 
        gastaoslo en lo que mas os apetezca, ser aun mas felices en esta nueva etapa de vuestra vida.
        <p>Os deseamos lo mejor Bryan y Diana</p>

<!-- Bueno bueno... pues aquí termina todo!! hemos sido bastantes buenos creemos... la cosa podria haber sido peor, no? -->
<!-- con todo esto deciros que disfruteis del regalo todo lo que podais, que disfruteis de esta nueva etapa, y que nos traigais un sobrino a la vuelta de la luna de miel.  -->
<!-- pdta; esperamos que vuestros labios sigan intactos y que os hayais acordado mucho de nosotros mientras buscabais la palabra secreta. -->
<!-- pdta 2, en la farmacia hay cacao regeneradores que están bien de precio. -->
<!-- pdt 3, OS deseamos lo mejor chicos!!!a -->

    <button class="btn-fake" mat-stroked-button ="btn" color="accent" (click)="fake1()">
        Contraseña
    </button>
    <button  *ngIf="f2" class="btn-fake" mat-raised-button ="btn" color="accent" (click)="fake2()">
            Solo estais a un click mas para la contraseña    
    </button>
    <button *ngIf="f3" class="btn-fake" mat-raised-button ="btn" color="accent" (click)="fake3()">
            Solo estais a un click mas para la contraseña    
    </button>
    <button *ngIf="f4" class="btn-fake" mat-raised-button ="btn" color="accent" (click)="fake4()">
            Solo estais a un click mas para la contraseña lo juro
    </button>
    <button *ngIf="f5" class="btn-fake" mat-raised-button ="btn" color="primary" (click)="mostrar()">
        Contraseña
    </button>
</div>









